.recipes-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }

.link {
  color: inherit; /* Inherit the color from the parent element */
  text-decoration: none; /* Remove the default underline */
}

.link:hover {
  text-decoration: underline; /* Add underline on hover */
}

  .recipe-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .recipe-card {
    background-color: #ac7e439d ;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
  }
  
  .recipe-card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .recipe-card p {
    color: #000000;
  }
  