.homepage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .hero-section {
    text-align: center;
  }
  
  .hero-title {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .hero-subtitle {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  
  .cta-button {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #ff5500;
    color: #fff;
    font-size: 1.2rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.25s ease;
  }
  
  .cta-button:hover {
    background-color: #531e07;
  }
  